<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
            path="my_profile_test.elementtypesconfigurations">
      </elementTypeSet>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://BLOCK_PROFILE/"
            target="platform:/plugin/com.nb.raaml.13849.uml.profile/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="Blockmethode"
            path="pathmap://BLOCK_PROFILE/13849_Insert.profile.uml">
      </profile>
   </extension>

</plugin>
