

[appliedStereotypes~="Function"]{
	elementIcon: true;
	fillColor:yellow;
    displayIcon: true;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/SafetyFunction.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}


[appliedStereotypes~="SafetyFunction"]{
	elementIcon: true;
	fillColor:yellow;
    displayIcon: true;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/SafetyFunction.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Subsystem"] {
	elementIcon: true;
	fillColor:yellow;
    displayIcon: true;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Subsystem.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Input-SB"] {
	elementIcon: true;
	fillColor:yellow;
    displayIcon: true;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Input-SB.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Logic-SB"] {
	elementIcon: true;
	fillColor:yellow;
    displayIcon: true;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Logic-SB.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Output-SB"] {
	elementIcon: true;
	fillColor:yellow;
    displayIcon: true;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Output-SB.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Input"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="Input"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="Input"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Input.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Output"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="Output"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="Output"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Output.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Logic"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="Logic"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="Logic"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Logik.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Testequipment"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="Testequipment"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="Testequipment"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Testeinrichtung.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}


[appliedStereotypes~="OutputTest"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="OutputTest"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="OutputTest"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/AusgangTE.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Input-B"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="Input-B"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="Input-B"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Input-B.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Output-B"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="Output-B"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="Output-B"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Output-B.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Logic-B"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="Logic-B"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="Logic-B"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Logic-B.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="Testequipment-B"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="Testequipment-B"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="Testequipment-B"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Testeinrichtung-B.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}


[appliedStereotypes~="OutputTest-B"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="OutputTest-B"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="OutputTest-B"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/OutputTest-B.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="13849Block"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="13849Block"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="13849Block"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Block.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}


[appliedStereotypes~="BaseBlock"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="BaseBlock"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="BaseBlock"] {
	elementIcon: false;
	fillColor:yellow;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.13849.uml.profiles/shapes/Block.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true
}

[appliedStereotypes~="TriggerEvent"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="TriggerEvent"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="TriggerEvent"] {
	elementIcon: false;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true;
}

[appliedStereotypes~="ActuatorEvent"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="ActuatorEvent"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

[appliedStereotypes~="ActuatorEvent"] {
	elementIcon: false;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
    shapeVisibility: true;
    display: none;
    shapeDirection:8;
    isNameWrap : true;
}

Class[result=Passed] {
	fillColor:#A6C198;
}

Class[result=Failed] {
	fillColor:#E3A49C
}