
[appliedStereotypes~="TestMachine"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="TestMachine"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="TestMachine"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.4achsmachine/svg/machine.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}

[appliedStereotypes~="ExposedActor"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="ExposedActor"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="ExposedActor"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.4achsmachine/svg/actor.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}

[appliedStereotypes~="DUT"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="DUT"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="DUT"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.4achsmachine/svg/battery2.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}

[appliedStereotypes~="TestmachineEnvironment"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="TestmachineEnvironment"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="TestmachineEnvironment"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: true;
	svgFile: "plattform:/resource/com.nb.raaml.4achsmachine/svg/halle.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}


* {
/*	fillColor:white;
 	elementIcon: false; */
	isNameWrap : true;
}

* > Compartment{
/*	fillColor:white;
 	elementIcon: false; */
	isNameWrap : true;
}










[appliedStereotypes~="PAND"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="PAND"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="PAND"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/PAND.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}


[appliedStereotypes~="OR"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="OR"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="OR"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/OR.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}

[appliedStereotypes~="POR"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="POR"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="POR"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/POR.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}


[appliedStereotypes~="NOT"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="NOT"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="NOT"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/NOT.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}



[appliedStereotypes~="INHIBIT"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="INHIBIT"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="INHIBIT"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/INHIBIT.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}



[appliedStereotypes~="MAJORITY_VOTE"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="MAJORITY_VOTE"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="MAJORITY_VOTE"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/MAJORITY_VOTE.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}



[appliedStereotypes~="SEQ"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="SEQ"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="SEQ"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/SEQ.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}


[appliedStereotypes~="XOR"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="XOR"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="XOR"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/XOR.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}

[appliedStereotypes~="SPARE"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="SPARE"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="SPARE"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/SPARE.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}

[appliedStereotypes~="FDEP"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="FDEP"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="FDEP"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/FDEP.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}

[appliedStereotypes~="TransferIn"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="TransferIn"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

[appliedStereotypes~="TransferIn"] {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/TransferIn.svg";
	followSVGSymbol:true;
    shapeVisibility: true;
    isNameWrap : true
				  
}


[appliedStereotypes~="IntermediateEvent"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="IntermediateEvent"]{
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayBorder: true;
	display: none;
	isNameWrap : true;
}

[appliedStereotypes~="TopEvent"] > Compartment{
	visible:false;
	textAlignment: center;
}

[appliedStereotypes~="TopEvent"]{
	fillColor:#C7FEBE;
	elementIcon: false;
	isNameWrap : true;
}

[appliedStereotypes~="DFTree"]{
	fillColor:white;
	elementIcon: false;
	isNameWrap : true;
}

[appliedStereotypes~="ExtendedDFTATree"]{
	fillColor:#FCF6AE;
	elementIcon: false;
	isNameWrap : true;
}

Interface > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

 Interface > Compartment{
	visible:false;
	textAlignment: center;
}

Interface {
	elementIcon: false;
	fillColor:white;
    displayIcon: false;
	displayHeader:false;
	displayBorder: false;
	svgFile: "plattform:/resource/com.nb.raaml.dft.uml.profiles/shapes/BasicEvent.svg";
	followSVGSymbol:true;
    shapeVisibility: False;
    display: none;
    isNameWrap : true
}


