

* {
/*	fillColor:white;
 	elementIcon: false; */
	isNameWrap : true;
	textAlignment : center;
}

* > Compartment{
/*	fillColor:white;
 	elementIcon: false; */
	isNameWrap : true;
	textAlignment : center;
}

